<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>AddBook</title>
    <link th:href="@{/css/addBook.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container-fluid">
        <div th:replace="~{components/header :: header}"></div>
        <div class="row mt-5">
            <div class="col-md-4"></div>
            <div class="col-md-4 bg-secondary rounded">
                <h1 class="p-3 font-weight-bold text-light text-center mt-3">Add book</h1>

                <div th:if="${success}" class="alert alert-success">
                    <p>Book added successfully!</p>
                </div>
                <div th:if="${errors != null}" class="alert alert-danger">
                    <div th:each="error : ${errors}" class="mb-1">
                        <p class="mb-0" th:text="${error}"></p>
                    </div>
                </div>

                <form th:action="@{/post-new-book}" method="post" enctype="multipart/form-data">
                    <label for="book_type_id" class="text-light font-weight-bold">BookType</label>
                    <div class="input-group mb-3">
                        <select id="book_type_id" name="book_type_id" class="form-control">
                            <option th:each="bookTypeOption : ${bookTypes}"
                                    th:value="${bookTypeOption}"
                                    th:text="${bookTypeOption}"
                                    th:selected="${bookType == bookTypeOption}"></option>
                        </select>
                    </div>

                    <label for="genre" class="text-light font-weight-bold">Genre</label>
                    <div class="input-group mb-3">
                        <select id="genre" name="genre" class="form-control">
                            <option th:each="genreOption : ${enumValues}"
                                    th:value="${genreOption}"
                                    th:text="${#strings.capitalize(genreOption.name().toLowerCase())}"
                                    th:selected="${genre == genreOption}"></option>
                        </select>
                    </div>

                    <label for="price" class="text-light font-weight-bold">Price</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="price" name="price" th:value="${price}">
                    </div>

                    <label for="author" class="text-light font-weight-bold">Author</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="author" name="author" th:value="${author}">
                    </div>

                    <label for="publisher" class="text-light font-weight-bold">Publisher</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="publisher" name="publisher" th:value="${publisher}">
                    </div>

                    <label for="title" class="text-light font-weight-bold">Title</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="title" name="title" th:value="${title}">
                    </div>

                    <label for="page_amount" class="text-light font-weight-bold">Amount of pages</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="page_amount" name="page_amount" th:value="${pageAmount}">
                    </div>

                    <label for="image" class="text-light font-weight-bold">Image</label>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="image" name="image" th:value="${image}">
                    </div>

                    <button type="submit" class="btn btn-primary mb-5 float-right">Add book</button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</body>
</html>