<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Book Details</title>
        <link th:href="@{/css/addBook.css}" rel="stylesheet">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    </head>

    <body>
        <div th:replace="~{components/header :: header}"></div>
        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8 bg-secondary rounded">
                <div th:if="${book != null}">
                    <p class="h1 text-center" th:text="${book.title}"></p>
                    <div class="row">
                        <form method="post" action="/addToCart">
                            <input type="hidden" id="bookId" name="bookId" th:value="${bookId}">
                            <div class="col-md-2 text-center border-danger border mx-3">
                                <img th:src="@{${imagePath}}" alt="Thumbnail">
                            </div>
                            <p>Description: <span th:text="${book.description}"></span></p>
                            <p>Genre: <span th:text="${book.genre}"></span></p>
                            <p>Price: <span th:text="${book.price}"></span></p>
                            <p>Author: <span th:text="${book.author}"></span></p>
                            <p>Publisher: <span th:text="${book.publisher}"></span></p>
                            <p>PageAmount: <span th:text="${book.pageAmount}"></span></p>
                            <p>Image: <span th:text="${book.image}"></span></p>
                            <input name="addToCart" id="addToCart" type="submit" th:onclick="|window.location.href='/addToCart'|">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>