<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book & Sales - Cart</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/cart.css}" rel="stylesheet">
</head>
<body>
<header class="font-weight-bold bg-info p-5 text-white h1">Book & Sales</header>
<div class="container">
    <div class="row">
        <div class="col-12 bg-secondary mt-5">
            <div class="row mb-4">
                <div class="col-1"></div>
                <div class="col-10 my-4">
                    <div class="d-flex align-items-start">
                        <figure class="figure mr-4 mt-2">
                            <img th:src="@{/images/testImg.png}" alt="..." class="img-thumbnail img-fluid image" />
                            <figcaption class="figure-caption text-danger text-center font-weight-bold font-italic">Pikachu</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-1"></div>
                <div class="col-10 mb-4">
                    <div class="d-flex align-items-start">
                        <figure class="figure mr-4 mt-2">
                            <img th:src="@{/images/testImg.png}" alt="..." class="img-thumbnail img-fluid image" />
                            <figcaption class="figure-caption text-danger text-center font-weight-bold font-italic">Pikachu</figcaption>
                        </figure>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
</body>
</html>