<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book & Sales - Overview</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/overview.css}" rel="stylesheet">
</head>
<body>
    <header class="font-weight-bold bg-info p-5 text-white h1">Book & Sales</header>
    <div class="container">
        <div class="row">
            <div class="col-12 bg-secondary mt-5">
                <div class="row mb-4">
                    <div class="col-1"></div>
                    <div class="col-10 my-4">
                        <div class="d-flex align-items-start">
                            <figure class="figure mr-4 mt-2">
                                <img th:src="@{/images/testImg.png}" alt="..." class="img-thumbnail img-fluid image" />
                                <figcaption class="figure-caption text-danger text-center font-weight-bold font-italic">Pikachu</figcaption>
                            </figure>
                            <div>
                                <p class="h1 text-white">Book title - <span class="h2 mt-0">€7,77</span></p>
                                <p class="h6 text-white ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta in tortor et placerat. Quisque aliquet, quam sed rutrum gravida, sapien sapien cursus leo, et malesuada augue mauris et metus. Pellentesque ultrices quam nec elit faucibus, quis laoreet lacus pulvinar. Sed pharetra in nisi vitae gravida. Donec tincidunt pretium nibh, molestie viverra nibh rutrum dapibus. Nam congue, nunc eleifend semper pharetra, velit velit aliquam mauris, nec fermentum neque nunc vel augue. Curabitur rhoncus, mauris vel porttitor sagittis, massa felis viverra metus, vel accumsan felis est placerat nisi.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-1"></div>
                    <div class="col-10 mb-4">
                        <div class="d-flex align-items-start">
                            <figure class="figure mr-4 mt-2">
                                <img th:src="@{/images/testImg.png}" alt="..." class="img-thumbnail img-fluid image" />
                                <figcaption class="figure-caption text-danger text-center font-weight-bold font-italic">Pikachu</figcaption>
                            </figure>
                            <div>
                                <p class="h1 text-white">Book title - <span class="h2 mt-0">€7,77</span></p>
                                <p class="h6 text-white ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta in tortor et placerat. Quisque aliquet, quam sed rutrum gravida, sapien sapien cursus leo, et malesuada augue mauris et metus. Pellentesque ultrices quam nec elit faucibus, quis laoreet lacus pulvinar. Sed pharetra in nisi vitae gravida. Donec tincidunt pretium nibh, molestie viverra nibh rutrum dapibus. Nam congue, nunc eleifend semper pharetra, velit velit aliquam mauris, nec fermentum neque nunc vel augue. Curabitur rhoncus, mauris vel porttitor sagittis, massa felis viverra metus, vel accumsan felis est placerat nisi.</p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</body>
</html>