<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Register</title>
    <link th:href="@{/css/register.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container-fluid">
        <div class="row bg-primary text-light font-weight-bold p-3">
            <div class="col-lg-12">
                <h1>Book & Sales</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4"></div>
            <div class="col-md-4 bg-secondary rounded">
                <h1 class="p-3 font-weight-bold text-light text-center mt-3">Register</h1>

                <form th:action="@{/post-new-user}" method="post">
                    <label for="first-name" class="text-light font-weight-bold">First name:</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="first-name" name="first_name" required>
                    </div>

                    <label for="last-name" class="text-light font-weight-bold">Last name:</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="last-name" name="last_name" required>
                    </div>

                    <label for="address" class="text-light font-weight-bold">Address:</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="address" name="address" required>
                    </div>

                    <label for="password" class="text-light font-weight-bold">Password</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <button type="submit" class="btn btn-primary mb-5 float-right">Register</button>
                </form>

            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</body>
</html>